# Data Manipulation Studio

For this studio, we will revisit our California farmers looking for advice on growing pumpkins and the same [pumpkins dataset](https://www.kaggle.com/usda/a-year-of-pumpkin-prices) as provided by the U.S. Department of Agriculture. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. When you open up the `dataset` folder, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [1]:
# Import the necessary libraries and CSVs. Make some dataframes!
import pandas as pd
import matplotlib 
import matplotlib.pyplot as plt
import numpy as np

BaltimoreData = pd.read_csv("C:\\Users\\Khazbin\\Desktop\\Data Analysis\\data-manipulation\\dataset\\baltimore_9-24-2016_9-30-2017.csv")
BostonData = pd.read_csv("C:\\Users\\Khazbin\\Desktop\\Data Analysis\\data-manipulation\\dataset\\boston_9-24-2016_9-30-2017.csv")
NewYorkData = pd.read_csv("C:\\Users\\Khazbin\\Desktop\\Data Analysis\\data-manipulation\\dataset\\new-york_9-24-2016_9-30-2017.csv")
PhiladelphiaData = pd.read_csv("C:\\Users\\Khazbin\\Desktop\\Data Analysis\\data-manipulation\\dataset\\philadelphia_9-24-2016_9-30-2017.csv")

In [2]:
# Baltimore data examination.

BaltimoreData.head()

for col in BaltimoreData.columns:
    pctMissing = np.mean(BaltimoreData[col].isnull())
    print('{} - {}%'.format(col, round(pctMissing*100)))
    
totalCells = np.product(BaltimoreData.shape)

missingCells = pd.isnull(BaltimoreData).sum()

totalMissing = missingCells.sum()

percentageMissing = round((totalMissing/totalCells), 2) *100

print(percentageMissing, "% Missing cells from the data")

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 1%
Sub Variety - 84%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 3%
Origin District - 100%
Item Size - 16%
Color - 80%
Environment - 100%
Unit of Sale - 84%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%
51.0 % Missing cells from the data

In [3]:
# Boston data examination.

BostonData.head()

for col in BostonData.columns:
    pctMissing = np.mean(BostonData[col].isnull())
    print('{} - {}%'.format(col, round(pctMissing*100)))

totalCells = np.product(BostonData.shape)

missingCells = pd.isnull(BostonData).sum()

totalMissing = missingCells.sum()

percentageMissing = round((totalMissing/totalCells), 2) *100

print(percentageMissing, "% Missing cells from the data")

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 0%
Sub Variety - 92%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Origin District - 81%
Item Size - 1%
Color - 14%
Environment - 100%
Unit of Sale - 87%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%
47.0 % Missing cells from the data

In [4]:
# New York data examination.

NewYorkData.head()

for col in NewYorkData.columns:
    pctMissing = np.mean(NewYorkData[col].isnull())
    print('{} - {}%'.format(col, round(pctMissing*100)))
    
totalCells = np.product(NewYorkData.shape)

missingCells = pd.isnull(NewYorkData).sum()

totalMissing = missingCells.sum()

percentageMissing = round((totalMissing/totalCells), 2) *100

print(percentageMissing, "% Missing cells from the data")

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 0%
Sub Variety - 84%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Origin District - 87%
Item Size - 7%
Color - 81%
Environment - 100%
Unit of Sale - 78%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%
49.0 % Missing cells from the data

In [5]:
# Philadelphia data examination.

PhiladelphiaData.head()

for col in PhiladelphiaData.columns:
    pctMissing = np.mean(PhiladelphiaData[col].isnull())
    print('{} - {}%'.format(col, round(pctMissing*100)))
    
totalCells = np.product(PhiladelphiaData.shape)

missingCells = pd.isnull(PhiladelphiaData).sum()

totalMissing = missingCells.sum()

percentageMissing = round((totalMissing/totalCells), 2) *100

print(percentageMissing, "% Missing cells from the data")

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 0%
Sub Variety - 79%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Origin District - 100%
Item Size - 21%
Color - 100%
Environment - 100%
Unit of Sale - 81%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%
51.0 % Missing cells from the data

## Clean Your Data

In the last lesson, we cleaned the data to related to San Francisco. Pull up your notebook from the last lesson and use your cleaning skills to clean the dataframes as necessary.

In [6]:
# Clean Baltimore data here!

unknown={"Variety":"Unknown","Sub Variety":"Unknown","Origin":"Unknown","Origin District":"Unknown","Item Size":"Unknown","Color":"Unknown","Unit of Sale":"Unknown"}

BaltimoreData = BaltimoreData.drop(["Type","Grade","Mostly Low","Mostly High","Environment","Quality","Condition","Appearance","Storage","Crop","Trans Mode"],axis=1)

BaltimoreData["Repack"] = BaltimoreData["Repack"].replace({"N":False})
BaltimoreData["Repack"] = BaltimoreData["Repack"].replace({"E":True})

BaltimoreData = BaltimoreData.fillna(value=unknown)

totalCells = np.product(BaltimoreData.shape)
missingCells = pd.isnull(BaltimoreData).sum()
totalMissing = missingCells.sum()
percentageMissing = round((totalMissing/totalCells), 2) *100
print(percentageMissing, "% Missing cells from the data")

BaltimoreData.head()

0.0 % Missing cells from the data

,Commodity Name,City Name,Package,Variety,Sub Variety,Date,Low Price,High Price,Origin,Origin District,Item Size,Color,Unit of Sale,Repack
0,PUMPKINS,BALTIMORE,24 inch bins,Unknown,Unknown,04/29/2017,270,280.0,Unknown,Unknown,lge,Unknown,Unknown,True
1,PUMPKINS,BALTIMORE,24 inch bins,Unknown,Unknown,05/06/2017,270,280.0,Unknown,Unknown,lge,Unknown,Unknown,True
2,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,Unknown,09/24/2016,160,160.0,DELAWARE,Unknown,med,Unknown,Unknown,False
3,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,Unknown,09/24/2016,160,160.0,VIRGINIA,Unknown,med,Unknown,Unknown,False
4,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,Unknown,11/05/2016,90,100.0,MARYLAND,Unknown,lge,Unknown,Unknown,False

In [7]:
# Clean Boston data here!

unknown={"Variety":"Unknown","Sub Variety":"Unknown","Origin":"Unknown","Origin District":"Unknown","Item Size":"Unknown","Color":"Unknown","Unit of Sale":"Unknown"}

BostonData = BostonData.drop(["Type","Grade","Mostly Low","Mostly High","Environment","Quality","Condition","Appearance","Storage","Crop","Trans Mode"],axis=1)

BostonData["Repack"] = BostonData["Repack"].replace({"N":False})
BostonData["Repack"] = BostonData["Repack"].replace({"E":True})

BostonData = BostonData.fillna(value=unknown)

totalCells = np.product(BostonData.shape)
missingCells = pd.isnull(BostonData).sum()
totalMissing = missingCells.sum()
percentageMissing = round((totalMissing/totalCells), 2) *100
print(percentageMissing, "% Missing cells from the data")

BostonData.head()

0.0 % Missing cells from the data

,Commodity Name,City Name,Package,Variety,Sub Variety,Date,Low Price,High Price,Origin,Origin District,Item Size,Color,Unit of Sale,Repack
0,PUMPKINS,BOSTON,36 inch bins,HOWDEN TYPE,Unknown,09/24/2016,160,200,CANADA,QUEBEC,exjbo,ORANGE,Unknown,False
1,PUMPKINS,BOSTON,36 inch bins,HOWDEN TYPE,Unknown,09/24/2016,160,200,CANADA,QUEBEC,jbo,ORANGE,Unknown,False
2,PUMPKINS,BOSTON,36 inch bins,HOWDEN TYPE,Unknown,09/24/2016,160,200,CANADA,QUEBEC,xlge,ORANGE,Unknown,False
3,PUMPKINS,BOSTON,36 inch bins,HOWDEN TYPE,Unknown,09/24/2016,160,200,CANADA,ONTARIO,xlge,ORANGE,Unknown,False
4,PUMPKINS,BOSTON,36 inch bins,HOWDEN TYPE,Unknown,09/24/2016,160,180,CANADA,ONTARIO,lge,ORANGE,Unknown,False

In [8]:
# Clean New York data here!

unknown={"Variety":"Unknown","Sub Variety":"Unknown","Origin":"Unknown","Origin District":"Unknown","Item Size":"Unknown","Color":"Unknown","Unit of Sale":"Unknown"}

NewYorkData = NewYorkData.drop(["Type","Grade","Mostly Low","Mostly High","Environment","Quality","Condition","Appearance","Storage","Crop","Trans Mode"],axis=1)

NewYorkData["Repack"] = NewYorkData["Repack"].replace({"N":False})
NewYorkData["Repack"] = NewYorkData["Repack"].replace({"E":True})

NewYorkData = NewYorkData.fillna(value=unknown)

totalCells = np.product(NewYorkData.shape)
missingCells = pd.isnull(NewYorkData).sum()
totalMissing = missingCells.sum()
percentageMissing = round((totalMissing/totalCells), 2) *100
print(percentageMissing, "% Missing cells from the data")

NewYorkData.head()

0.0 % Missing cells from the data

,Commodity Name,City Name,Package,Variety,Sub Variety,Date,Low Price,High Price,Origin,Origin District,Item Size,Color,Unit of Sale,Repack
0,PUMPKINS,NEW YORK,36 inch bins,HOWDEN TYPE,Unknown,09/24/2016,150,170,MICHIGAN,Unknown,xlge,Unknown,Unknown,False
1,PUMPKINS,NEW YORK,36 inch bins,HOWDEN TYPE,Unknown,09/24/2016,150,170,MICHIGAN,Unknown,lge,Unknown,Unknown,False
2,PUMPKINS,NEW YORK,36 inch bins,HOWDEN TYPE,Unknown,09/24/2016,130,150,NEW JERSEY,Unknown,xlge,Unknown,Unknown,False
3,PUMPKINS,NEW YORK,36 inch bins,HOWDEN TYPE,Unknown,09/24/2016,130,150,NEW JERSEY,Unknown,lge,Unknown,Unknown,False
4,PUMPKINS,NEW YORK,36 inch bins,HOWDEN TYPE,Unknown,09/24/2016,120,140,NEW YORK,Unknown,med-lge,Unknown,Unknown,False

In [9]:
# Clean Philadelphia data here!

unknown={"Variety":"Unknown","Sub Variety":"Unknown","Origin":"Unknown","Origin District":"Unknown","Item Size":"Unknown","Color":"Unknown","Unit of Sale":"Unknown"}

PhiladelphiaData = PhiladelphiaData.drop(["Type","Grade","Mostly Low","Mostly High","Environment","Quality","Condition","Appearance","Storage","Crop","Trans Mode"],axis=1)

PhiladelphiaData["Repack"] = PhiladelphiaData["Repack"].replace({"N":False})
PhiladelphiaData["Repack"] = PhiladelphiaData["Repack"].replace({"E":True})

PhiladelphiaData = PhiladelphiaData.fillna(value=unknown)

totalCells = np.product(PhiladelphiaData.shape)
missingCells = pd.isnull(PhiladelphiaData).sum()
totalMissing = missingCells.sum()
percentageMissing = round((totalMissing/totalCells), 2) *100
print(percentageMissing, "% Missing cells from the data")

PhiladelphiaData.head()

0.0 % Missing cells from the data

,Commodity Name,City Name,Package,Variety,Sub Variety,Date,Low Price,High Price,Origin,Origin District,Item Size,Color,Unit of Sale,Repack
0,PUMPKINS,PHILADELPHIA,24 inch bins,HOWDEN TYPE,Unknown,09/16/2017,140,150,PENNSYLVANIA,Unknown,lge,Unknown,Unknown,False
1,PUMPKINS,PHILADELPHIA,36 inch bins,HOWDEN TYPE,Unknown,09/24/2016,150,150,NEW YORK,Unknown,med-lge,Unknown,Unknown,False
2,PUMPKINS,PHILADELPHIA,36 inch bins,HOWDEN TYPE,Unknown,09/24/2016,150,150,NEW YORK,Unknown,med,Unknown,Unknown,False
3,PUMPKINS,PHILADELPHIA,36 inch bins,HOWDEN TYPE,Unknown,09/24/2016,150,160,PENNSYLVANIA,Unknown,lge,Unknown,Unknown,False
4,PUMPKINS,PHILADELPHIA,36 inch bins,HOWDEN TYPE,Unknown,10/01/2016,140,140,NEW JERSEY,Unknown,med-lge,Unknown,Unknown,False

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.

In [10]:
# Combine the four dataframes into one!
combo = BaltimoreData.append([BostonData,NewYorkData,PhiladelphiaData])
combo.head()

C:\Users\Khazbin\AppData\Local\Temp\ipykernel_14904\1528293687.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combo = BaltimoreData.append([BostonData,NewYorkData,PhiladelphiaData])

,Commodity Name,City Name,Package,Variety,Sub Variety,Date,Low Price,High Price,Origin,Origin District,Item Size,Color,Unit of Sale,Repack
0,PUMPKINS,BALTIMORE,24 inch bins,Unknown,Unknown,04/29/2017,270,280.0,Unknown,Unknown,lge,Unknown,Unknown,True
1,PUMPKINS,BALTIMORE,24 inch bins,Unknown,Unknown,05/06/2017,270,280.0,Unknown,Unknown,lge,Unknown,Unknown,True
2,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,Unknown,09/24/2016,160,160.0,DELAWARE,Unknown,med,Unknown,Unknown,False
3,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,Unknown,09/24/2016,160,160.0,VIRGINIA,Unknown,med,Unknown,Unknown,False
4,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,Unknown,11/05/2016,90,100.0,MARYLAND,Unknown,lge,Unknown,Unknown,False

## Answer Some Questions

Use `groupby()` and `agg()` to answer the following two questions:

1. What is the mean low and high prices for each type of unit of sale in the Northeast region? In the last lesson, we learned that a unit of sale could be something like a bin or individually. 
2. What is the average number of pumpkins for each variety that came into terminal markets for the year by region? Pumpkin varieties include Howden and Fairytale pumpkins.

In [16]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.

meanPrice = combo.groupby("Unit of Sale")[["Low Price","High Price"]].agg("mean")
meanPrice

               Low Price  High Price
Unit of Sale
EACH           47.916667   59.166667
PER BIN       185.845070  206.619718
SHELLACKED     16.000000   17.545455
Unknown       133.660211  150.122359

In [29]:
# Put your code here to find the average number of pumpkins coming into terminal markets of each variety.
# typesList = combo["Variety"].unique()
# typesList

numOfPumpkins = combo.groupby(["City Name","Variety"])["Variety"].apply(lambda x: x[x.str.contains("Unknown|HOWDEN TYPE|HOWDEN WHITE TYPE|CINDERELLA|FAIRYTALE|PIE TYPE|BIG MACK TYPE|MIXED HEIRLOOM VARIETIES|MINIATURE|BLUE TYPE|KNUCKLE HEAD")].count())
numOfPumpkins

City Name     Variety
BALTIMORE     BIG MACK TYPE                24
              CINDERELLA                   25
              FAIRYTALE                    16
              HOWDEN TYPE                  25
              HOWDEN WHITE TYPE             2
              MINIATURE                    30
              MIXED HEIRLOOM VARIETIES      3
              PIE TYPE                     26
              Unknown                       2
BOSTON        BIG MACK TYPE                29
              BLUE TYPE                     7
              CINDERELLA                   14
              FAIRYTALE                    21
              HOWDEN TYPE                 132
              KNUCKLE HEAD                  7
              MINIATURE                    28
              PIE TYPE                    114
NEW YORK      BIG MACK TYPE                 2
              HOWDEN TYPE                  39
              KNUCKLE HEAD                  1
              MINIATURE                    27
              MIXED HEIRLOOM VARIETIES      1
              PIE TYPE                     42
PHILADELPHIA  HOWDEN TYPE                  28
              KNUCKLE HEAD                  1
              MINIATURE                    12
              PIE TYPE                     16
Name: Variety, dtype: int64

## Bonus Mission

Try answering the same questions for the Midwest (Chicago, Detroit, and St. Louis) or the Southeast (Atlanta, Columbia, and Miami) regions.

In [ ]:
# Try the bonus mission if you have time!